disable_existing_loggers: false
formatters:
  core_console_formatter:
    (): inmanta.logging.MultiLineFormatter
    fmt: '%(log_color)s%(name)-25s%(levelname)-8s%(reset)s%(blue)s%(message)s'
    keep_logger_names: true
    log_colors:
      CRITICAL: red
      DEBUG: cyan
      ERROR: red
      INFO: green
      WARNING: yellow
    no_color: false
    reset: true
  core_log_formatter:
    format: '%(asctime)s %(levelname)-8s %(name)-10s %(message)s'
handlers:
  core_tornado_debug_log_handler:
    class: inmanta.logging.TornadoDebugLogHandler
    level: DEBUG
  scheduler_handler:
    class: logging.handlers.TimedRotatingFileHandler
    filename: /var/log/inmanta/agent-{environment}.log
    formatter: core_log_formatter
    level: INFO
    when: d
    interval: 1
    backupCount: 10
  scheduler_resource_action_handler:
    class: logging.handlers.TimedRotatingFileHandler
    filename: /var/log/inmanta/resource-actions-{environment}.log
    formatter: core_log_formatter
    level: DEBUG
    when: d
    interval: 1
    backupCount: 10
loggers:
  inmanta.data.NullerPool:
    level: WARNING
    propagate: true
  inmanta.resource_action:
    handlers:
    - scheduler_resource_action_handler
    level: DEBUG
    propagate: true
  sqlalchemy.engine:
    level: WARNING
    propagate: true
  tornado.general:
    handlers:
    - core_tornado_debug_log_handler
    level: DEBUG
    propagate: true
root:
  handlers:
  - scheduler_handler
  level: INFO
version: 1
